.to-do {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  padding: 10px;
  line-height: 1;
  background-color: #fff;
  box-sizing: border-box;

  .to-do-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    .name {
      width: 360px;
      line-height: 32px;
      font-size: 18px;
    }
  
    .checkbox {
      width: 24px;
      height: 24px;
    }
  }

  &.done {
    .name {
      opacity: 0.3;
      text-decoration: line-through;
    }
  }

  &.disabled {
    opacity: 0.5;
    pointer-events: none;
  }

  .to-do-edit {
    display: flex;
    align-items: center;
  }

  .buttons {
    height: 24px;
  }

  .button-small {
    display: inline-block;
    width: 24px;
    height: 24px;
    opacity: 0.8;
    cursor: pointer;

    &:hover {
      opacity: 1;
    }
  }

  .button-edit {
    background-image: url('./img/edit.png');
  }

  .button-delete {
    margin-left: 15px;
    background-image: url('./img/delete.png');
  }

  .button-done {
    margin-left: 15px;
    background-image: url('./img/done.png');

    &.disabled {
      pointer-events: none;
      opacity: 0.3;
    }
  }
}