* {
  user-select: none;
}

.App {
  margin: 30px auto 0;
  padding: 20px;
  width: 500px;
  background-color: #ccc;

  .title {
    font-size: 32px;
  }
  
  .to-do-form {
    display: flex;
    margin-top: 10px;
  }
  
  .to-do-list {
    margin-top: 20px;
  }

  input {
    &:active, &:focus {
      outline: none;
    }
  }
}